/* CSS for entire app, separated by component */

body {
  font-family: "Biryani", sans-serif;
  background-color: #b0e2f1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-size: 96px;
}

.logo {
  color: white;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#filters {
  display: none;
  width: 100%;
  height: 475px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.filter-button {
  text-decoration: none;
  background: #ebf38f;
  color: #7eb6c7;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 23px;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
}

.new-project-button {
  background: #ebf38f;
  border-radius: 44px;
  color: #7eb6c7;
  border: none;
  font-size: 0.4em;
  height: 2em;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.new-project-button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}


/* Post.css */
.post-grid-container {
  display: grid;
  font-size: small;
  border-radius: 25px;
  grid-template-columns: [c1] 1fr [c2] 4fr [c3] 1fr;
  grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr [r4] 1fr [r5];
  grid-gap: 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  align-items: stretch;
}

.post-grid-container > div {
  border-radius: 25px;
  background-color: beige;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-photo {
  grid-row: 1 / span 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-title {
  grid-row: 1;
  grid-column: 2;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-manager-contact {
  grid-row: 2;
  grid-column: 2;
}

.post-tags {
  grid-row: 1 / span 2;
  grid-column: 3;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
}

.post-tags > div {
  background-color: #b0e2f1;
  height: 30%;
  width: 100%;
  border-radius: 25px;
  margin: 10px;
  top: 50%;
  flex: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-description {
  grid-row: 3;
  grid-column: 1 / span 3;
  overflow-wrap: break-word;
}

.post-needs {
  grid-row: 4;
  grid-column: 1 / span 3;
  overflow-wrap: break-word;
}

#post-bottom {
  display: flex;
  align-items: stretch;
  grid-column: 1 / span 3;
  background-color: white;
}

.post-votes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  background-color: beige;
  border-radius: 25px;
  margin-right: 5px;
}

.post-time {
  background-color: beige;
  border-radius: 25px;
  padding: 10px;
  flex-grow: 1;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.vote-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid gray;
  display: inline-block;
}

.vote-arrow-up:active {
  border-bottom-color: red;
}

.vote-arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid gray;
  display: inline-block;
}

.vote-arrow-down:active {
  border-top-color: cornflowerblue;
}

.post-voteArrow {
  color: black;
  background-color: beige;
  border: none;
  display: inline-block;
}

.post-voteNum {
  align-items: center;
  display: inline-block;
  font-weight: bold;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.post-trash {
  background-image: url(./assets/trashcan.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

/* Delete.css */
.pop-up {
  position: absolute;
  z-index: 1;
  width: 69.2%;
  height: 72%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.pop-up-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid#ebf38f;
  
}

.pop-up-exit {
  color: Black;
  float: right;
}

.pop-up-exit:hover {
  color: #7eb6c7;
  cursor: pointer;
}

.attribute {
  margin-bottom: 0px;
  font-weight: bold;
}

.egg {
  display: block;
  width: 60%;
  height: 70%;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: white;
}

.hatchegg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/hatchegg.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: none;
}
/* NewPost.css */
.centered-form {
  display: block;
  text-align: center;
  background-color: aliceblue;
  border-radius: 25px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

form > div {
  margin: 10px;
  padding: 10px;
}

.form_input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  resize: none;
  margin: 0px;
}

.form_pass_input {
  width: 10%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  resize: none;
  margin: 0px;
  text-align: center;
}

.tags_dropdowns_container {
  display: flex;
}

.tags_dropdowns_item {
  flex-grow: 1;
}

.tags_dropdown {
  width: 150px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  outline: none;
}

.submit-button {
  border-radius: 50px;
  background-color: #ebf38f;
  color: #7eb6c7;
  border: none;
  font-size: x-large;
  padding: 20px;
  text-decoration: none;
}

.submit-button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: none;
}

/* Filter.css */

button {
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.filter-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 5px;
}

.filter-grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 5px;
}

.filter-grid-item-lang {
  background-color: #ffdbdb;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  color: black;
}

.filter-grid-item-lang:focus {
  background-color: #f5a6a6;
}

.filter-grid-item-spec {
  background-color: #e3e3ff;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  color: black;
}

.filter-grid-item-spec:focus {
  background-color: #b2b2f0;
}

.filter-grid-item-cat {
  background-color: #e2fce6;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  color: black;
}

.filter-grid-item-cat:focus {
  background-color: #a3f0af;
}

.filter-selected {
  padding: 10px;
  text-align: center;
}

.filter-go {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 12px;
  background-color: #ebf38f;
  grid-column: 2;
  color: #578c9b;
}
.filter-label {
  text-align: center;
  font-weight: bold;
}
